.first {
	background: #ccc;
	font-size: 20px;
	background: url(spritesheet.png);
	background-position: -0px -0px;
}

.second {
	vertical-align: middle;
	background: url(spritesheet.png);
	background-position: -690px -283px;
}

.three {
	vertical-align: middle;
	background: url(spritesheet.png);
	background-position: -690px -0px;
}

.four {
	background: url(spritesheet.png);
	background-position: -0px -690px;
}

.three {
	color: red;
}

.four {
	float: left;
}

.first {
	font-size: 80px;
}