h2{
	color:red;
	font-size:50px;
}
.main {
  background: red;
  width: 100px;
  background: url(../images/data.png);
}
.main ul {
  list-style: none;
  background: url(../images/friends.png);
}
.main2 {
  background: red;
  width: 100px;
  background: url(../images/Categoryactive.png);
}

.main3 {
  background: red;
  width: 100px;
  background: url(../images/good.png);
}