div {
  width: 10px;
  width: 20px;
  width: 30px;
  width: 40px;
  width: 50px;
}
.div1 .div2:nth-child( 1) {
  width: 10px;
}
.div1 .div2:nth-child( 2) {
  width: 20px;
}
.div1 .div2:nth-child( 3) {
  width: 30px;
}
.div1 .div2:nth-child( 4) {
  width: 40px;
}
.div1 .div2:nth-child( 5) {
  width: 50px;
}
div {
  background: red url(01.less);
}
h1 {
  box-shadow: 3px 4px, 1px 2px , 5px 9px;
  color: true;
}
.normal,
div .cl span {
  margin: 0;
  padding: 0;
}
